%html
  %head
    %title Individual Disability Income Insurance for Graduate Medical Education Programs
    %script{src: 'https://code.jquery.com/jquery-2.1.1.min.js'}
    %script{src: 'javascripts/app.js'}
  %body
    = yield